.search-box {
    color: #333;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    margin: 3rem auto;
    border-bottom: 2px solid var(--color-title);
}

.search-box input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-button);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: var(--bg-button);
}

.search-results {
    margin-top: 20px;
    
}
.search-results span{
    margin: 0;
    padding-left: 1rem;
    border-bottom: 1px solid #bbb;
    padding-bottom: 1rem;
    background-color: #a3f4a3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    padding-top: 1rem;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    display: none;
    animation: spanResults .3s ease-in-out;
}
@keyframes spanResults {
    0%{
        transform: scaleY(0);
    }
    
}
.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.search-results li mark{
    padding: 0;
    background-color: #f8d936;
}
.search-results li:last-of-type {
    border-bottom: none;
}

/* Search Icon */

.search__icon{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bg-button);
    color: #fff;
    border-radius: 4px;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s ease;
    z-index: 100;
}
.search__icon:hover{
    background-color: var(--color-title);

}